APP_NAME=SimpelRest
APP_ENV=local
APP_DEBUG=true
APP_URL=https://4reasoning.com

DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_NAME=simplerest
DB_USERNAME=
DB_PASSWORD=

MAIL_DEFAULT_FROM_ADDR=
MAIL_DEFAULT_FROM_NAME=

MAIL_DRIVER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_AUTH=
MAIL_ENCRYPTION=
MAIL_FROM_ADDR=
MAIL_FROM_NAME=

PHP_BINARY=
