#
# Taken from Laravel
#

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # API Rest
    RewriteRule ^api/auth/login$ api/auth/sessions.php?a=login [L]
    RewriteRule ^api/auth/signin$ api/auth/sessions.php?a=signin [L]
    RewriteRule ^api/auth/token/revoke api/auth/sessions.php?a=revoke [L]
    RewriteRule ^api/auth/token/renew api/auth/sessions.php?a=renew [L]

    RewriteRule ^api/products/([0-9]+)(.*)$ api/products.php?id=$1?$2 [L,QSA]
    RewriteRule ^api/products/([0-9]+)$ api/products.php?id=$1 [L]
    RewriteRule ^api/products?(.*)$ api/products.php?$1 [L,QSA]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

</IfModule>

