Options FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ /index.php


# API RESTFUL

RewriteRule ^api/auth/login$ api/auth/sessions.php?a=login [L]
RewriteRule ^api/auth/signin$ api/auth/sessions.php?a=signin [L]
RewriteRule ^api/auth/token/revoke api/auth/sessions.php?a=revoke [L]
RewriteRule ^api/auth/token/renew api/auth/sessions.php?a=renew [L]

#
# si generalizo el nombre de la api, entra en conflico con api/auth/login
#
RewriteRule ^api/products/([0-9]+)(.*)$ api/products.php?id=$1?$2 [L,QSA]
RewriteRule ^api/products/([0-9]+)$ api/products.php?id=$1 [L]
RewriteRule ^api/products?(.*)$ api/products.php?$1 [L,QSA]




# HTID:4130911: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:4130911:
