.invoice-box {
    max-width: 800px;
    padding: 30px;
    margin: auto;
    color: #ccc;
    font-size: 14px;
    line-height: 24px;
}

h2, h3, p {
    margin: 0;
    color: #000;
}

.table {
    border-color: #000;
    color: #000;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #000;
}

.text-end {
    text-align: right;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.d-flex div p {
    margin-bottom: 1rem;
}

table, th, td {
    border: 1px solid black !important;
}

/* Custom styles for thicker borders and no vertical borders */
.no-vertical-borders {
    border-left: none !important;
    border-right: none !important;
}

