
Options -MultiViews -Indexes
RewriteEngine On
RewriteBase /

# Handle Authorization Header
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# API Rest
RewriteRule ^auth/login$ core/auth/sessions.php?a=login [L]
RewriteRule ^auth/signup$ core/auth/sessions.php?a=signup [L]
RewriteRule ^auth/token/revoke core/auth/sessions.php?a=revoke [L]
RewriteRule ^auth/token/renew core/auth/sessions.php?a=renew [L]

# Redirect Trailing Slashes If Not A Folder...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

# Handle Front Controller...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
