<div class="modal-tabs modal modal-blur fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- Spinner overlay para carga global -->
      <div class="modal-loading-overlay d-none">
        <img src="/assets/img/loading-2.gif" alt="Cargando..." style="width: 50px; height: 50px;">
      </div>

      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="d-flex flex-column h-100">
        <div class="modal-body p-0 flex-grow-1" style="min-height: 480px;">
          <div class="tabs-container"></div>
          <div class="tab-content p-4 h-100"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link link-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button id="btnSave" type="button" class="btn btn-primary ms-auto">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>
</div>
