<?php

use Boctulus\Simplerest\Core\Libs\SiteMap;
use Boctulus\Simplerest\Core\WebRouter;

$route = WebRouter::getInstance();

WebRouter::any('health', function () {
    return ['ok' => true];
});

WebRouter::get('sitemap.xml', function(){
	$sitemap = new SiteMap();
	$sitemap->fromRouter(['sitemap.xml', 'admin/*']);	
	$sitemap->excludePlaceholdedRoutes(); //
	$xml     = $sitemap->generateXML();

	header('Content-Type: application/xml');
	return $xml;
});


